<% for category in @categories %>
	<div class="help-summary">
		<h2><%= link_to category.title, help_category_path(category) %></h2>

		<ul class="topics">
			<% for faq in category.topics.summary %>
				<li>
					<%= link_to faq.title, help_category_path(category, :anchor => faq.permalink) %>
				</li>
			<% end %>
		</ul>

		<p class="more">
			<%= link_to I18n.translate(:see_all), help_category_path(category, :anchor => "index") %>
		</p>
	</div>
<% end %>